<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Meal</a>
  <img src="/docs/4.1/assets/brand/bootstrap-solid.svg" width="30" height="30" alt="">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="">Мое меню <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Профиль</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/crmenu">Создать меню</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="">Disabled</a>
      </li>
    </ul>
    <div *ngIf="!isLoginIn">
      <form [formGroup]="form" class="form-inline my-2 my-lg-0" (ngSubmit)="onSubmit()">
        <input formControlName="username" class="form-control mr-sm-2" type="search" placeholder="Email"
               aria-label="Search" >
        <input formControlName="password"  class="form-control mr-sm-2" type="password"
               placeholder="Password">
        <button style="padding-right: 10px" class="btn btn-outline-success my-2 my-sm-0" type="submit">Log in</button>
      </form>
    </div>
    <button *ngIf="!isLoginIn" style="margin-left: 6px" class="btn btn-outline-primary my-2 my-sm-0" type="submit">
      Signin
    </button>
    <button *ngIf="isLoginIn" (click)="logout()" style="margin-left: 6px" class="btn btn-outline-primary my-2 my-sm-0" type="submit">
      LogOut
    </button>
  </div>
</nav>
