<div *ngIf="isMainMenu" class="absolute-Center">
  <div class="but-back absolute-Center">
    <mat-select placeholder="Выберите Меню" class="mat-select" [(ngModel)]="menuTitle">
      <mat-option *ngFor="let menu of menus" [value]="menu">{{menu}}</mat-option>
    </mat-select>
    <button mat-button (click)="choiceTime('Monday')" color="primary">Понедельник</button>
  </div>
  <div class="but-back absolute-Center">
    <button mat-button (click)="choiceTime('Tuesday')" color="primary">Вторник</button>
  </div>
  <div class="but-back absolute-Center">
    <button mat-button (click)="choiceTime('Wednesday')" color="primary">Среда</button>
  </div>
  <div class="but-back absolute-Center">
    <button mat-button (click)="choiceTime('Thursday')" color="primary">Четверг</button>
  </div>
  <div class="but-back absolute-Center">
    <button mat-button (click)="choiceTime('Friday')" color="primary">Пятница</button>
  </div>
  <div class="but-back absolute-Center">
    <button mat-button (click)="choiceTime('Saturday')" color="primary">Суббота</button>
  </div>
  <div class="but-back absolute-Center">
    <button mat-button (click)="choiceTime('Sunday')" color="primary">Воскресенье</button>
  </div>
</div>

<div *ngIf="isShowTime" class="absolute-Center">
  <div class="but-back absolute-Center">
    <mat-select placeholder="Выберите Меню" class="mat-select" [(ngModel)]="menuTitle">
      <mat-option *ngFor="let menu of menus" [value]="menu">{{menu}}</mat-option>
    </mat-select>
    <button mat-button (click)="showMenu('Breakfast')" color="primary">Завтрак</button>
  </div>
  <div class="but-back absolute-Center">
    <button mat-button (click)="showMenu('Lunch')" color="primary">Обед</button>
  </div>
  <div class="but-back absolute-Center">
    <button mat-button (click)="showMenu('Second_Lunch')" color="primary">Полдник</button>
  </div>
  <div class="but-back absolute-Center">
    <button mat-button (click)="showMenu('Dinner')" color="primary">Ужин</button>
  </div>
  <div class="but-back absolute-Center">
    <button mat-button color="primary" (click)="back()">Назад</button>
  </div>
</div>

<div *ngIf="isShowMenu">
  <div class="container">
    <table mat-table
      [dataSource]="dataSource" multiTemplateDataRows
           class="mat-elevation-z8">
      <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
        <th mat-header-cell *matHeaderCellDef> {{column}} </th>
        <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
          <div class="example-element-detail"
            [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <div class="example-element-diagram">
              <div class="example-element-position"> {{element.position}} </div>
              <div class="example-element-symbol">
                <mat-icon style="color: #ed2700">{{element.icon}}</mat-icon></div>
              <div class="example-element-name"> {{element.price}} </div>
              <div class="example-element-weight"> {{element.type}} </div>
            </div>
            <div class="example-element-description">
              {{element.comment}}
              <span class="example-element-description-attribution"></span>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
          class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>
    <div class="but-back absolute-Center">
      <button mat-button color="primary" (click)="back()">Назад</button>
    </div>
  </div>
</div>
