<div class="container">
  <div class="two col-sm-4">
    <mat-card class="absolute-Center" *ngIf="isSignedUp; else signupForm">
      Вы успешно зарегистрированы! Пожалуйста проверьте вашу почту чтобы завершить регистрацию!
      <br>
      <span><a color="primary" mat-raised-button routerLink="/login">Ok</a></span>
    </mat-card>
    <link class="two absolute-Center">
      <ng-template #signupForm>
        <mat-card>
          <form name="form" class="absolute-Center" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <mat-card-content>
              <div>
                <mat-form-field class="form-group absolute-Center">
                  <input class="absolute-Center" matInput type="text" name="username" [(ngModel)]="form.username" #username="ngModel"
                         placeholder="Введите email"
                         required="true"/>
                  <mat-hint *ngIf="f.submitted && username.invalid">
                    <mat-hint *ngIf="username.errors.required">Необходимо ввести email</mat-hint>
                  </mat-hint>
                </mat-form-field>
              </div>
              <div>
                <mat-form-field class="absolute-Center" >
                  <input class="absolute-Center" type="password" matInput [(ngModel)]="form.password" #password="ngModel"
                         placeholder="Введите пароль" name="password" required="true" minlength="6"/>
                  <mat-hint *ngIf="f.submitted && password.invalid">
                    <mat-hint *ngIf="password.errors.required">Нобходимо ввести пароль</mat-hint>
                    <mat-hint *ngIf="password.errors.minlength">Пароль должен быть не менее 6 символов</mat-hint>
                  </mat-hint>
                </mat-form-field>
              </div>
            </mat-card-content>
            <mat-card-actions>
              <button class="absolute-Center" mat-raised-button color="primary">Зарегистрироваться</button>
              <mat-hint *ngIf="f.submitted && isSignUpFailed" class="alert alert-warning">
                Регистрация не прошла
              </mat-hint>
            </mat-card-actions>
          </form>
        </mat-card>
      </ng-template>
  </div>
</div>

