.mat-select {
  padding-top: 5px;
  padding-bottom: 10px;
}

.mat-card {
  padding-top: 8px;
  padding-bottom: 8px;
}

/*.table-container {
  height: 400px;
  overflow: auto;
}*/

.absolute-Center {
  width: 100%;
  text-align: center;
}

.comp {
  padding-top: 8px;
  padding-bottom: 8px;
}
table {
  width: 100%;
}

.mat-select {
 padding-left: 15px;
  padding-top: 10px;
}
.mat-column-select {
  overflow: initial;
}

