<div class="">
  <div *ngIf="!isAdding">
    <div>
      <div class="absolute-Center">
        <button mat-button (click)="left()"><</button>
        <button mat-button class="label" (click)="dataInit()">{{price.month}}</button>
        <button mat-button (click)="right()">></button>
      </div>
    </div>
    <div class="row absolute-Center">
      <div class="col-2 absolute-Center ">
        <div class="icons">
        <a class="icons"  (click)="moveToAddRecord('HOME')">
          <mat-icon style="color: #f186ff">home</mat-icon>
        </a>
        </div>
        <div class="icons">
        <a class="icons"  (click)="moveToAddRecord('FOOD')">
          <mat-icon style="color: #FF6384">shopping_cart</mat-icon>
        </a>
        </div>
        <div class="icons">
        <a class="icons"  (click)="moveToAddRecord('GAS')">
          <mat-icon style="color: #3ec0a5">local_gas_station</mat-icon>
        </a>
        </div>
        <div class="icons">
        <a class="icons "  (click)="moveToAddRecord('PETS')">
          <mat-icon style="color: #e9ed11">pets</mat-icon>
        </a>
        </div>
      </div>
      <div class="col-8 absolute-Center ">
        <canvas class="absolute-Center" id="pie" height="500" width="500">asdsa</canvas>
      </div>
      <div class="col-2 absolute-Center ">
        <div class="icons right-panel">
        <a class="icons right-panel" (click)="moveToAddRecord('DRINK')">
          <mat-icon style="color: #6fabed">local_bar</mat-icon>
        </a>
        </div>
        <div class="icons right-panel">
        <a class="icons right-panel"  (click)="moveToAddRecord('CREDIT')">
          <mat-icon style="color: #ed2700">local_atm</mat-icon>
        </a>
        </div>
        <div class="icons right-panel">
        <a class="icons right-panel"  (click)="moveToAddRecord('CLOTHES')">
          <mat-icon style="color: #0809ed">accessibility</mat-icon>
        </a>
        </div>
      </div>
    </div>
    <div class="absolute-Center pr1">
      <input disabled="disabled" class="profit absolute-Center" placeholder="{{budget}}"/>
    </div>
  </div>
  <div *ngIf="isAdding">
    <app-add-record [type]="category"></app-add-record>
  </div>
</div>
