<div class="">
  <div *ngIf="!isAdding">
    <div class="row absolute-Center">
      <div class="absolute-Center">
        <button><</button>
        <button class="label" (click)="dataInit()">Декабрь</button>
        <button>></button>
      </div>
    </div>
    <canvas class="diagram" id="pie" height="500" width="500">asdsa</canvas>
    <div class="row absolute-Center">
      <div class="absolute-Center">
        <button mat-button (click)="moveToAddRecord('HOME')">
          <mat-icon  style="color: #f186ff">home</mat-icon>
        </button>
        <button mat-button (click)="moveToAddRecord('FOOD')">
          <mat-icon style="color: #FF6384">shopping_cart</mat-icon>
        </button>
        <button mat-button (click)="moveToAddRecord('GAS')">
          <mat-icon style="color: #3ec0a5">local_gas_station</mat-icon>
        </button>
        <button mat-button (click)="moveToAddRecord('PETS')">
          <mat-icon style="color: #e9ed11">pets</mat-icon>
        </button>
        <button mat-button (click)="moveToAddRecord('DRINK')">
          <mat-icon style="color: #6fabed">local_bar</mat-icon>
        </button>
        <button mat-button (click)="moveToAddRecord('CREDIT')">
          <mat-icon style="color: #ed2700">local_atm</mat-icon>
        </button>
      </div>
    </div>
    <div>
      <label class="profit absolute-Center">{{budget}}</label>
    </div>
  </div>
  <div *ngIf="isAdding">
    <app-add-record [type]="category"></app-add-record>
  </div>
</div>
