
.diagram {
  padding-left: 10px;
}

.absolute-Center {
  width: 100%;
  text-align: center;
}

.profit {
  background-color: #57eda4;
}

.btn-size {
  width: 125px;
  height: 85px;
}

.column-icons {
  padding-top: 65px;;
}

.icons {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pr1 {
  padding-top: 20px;
}

/*.left-panel {
  margin-left: 5px;
}*/

.icon{
  padding-left: 10px;
}
.right-panel {
  margin-left: 10px;
}

