<div class="container">

    <div class="absolute-Center">
      <input disabled="disabled" class="absolute-Center" placeholder="Добавляем тип {{type}}"/>
    </div>

  <div class="absolute-Center">
    <input type="text" [(ngModel)]="check" placeholder="Сумма чека" name="menuTitle"  required="true"/>
  </div>
  <div class="absolute-Center input-comment">
    <input  type="text" [(ngModel)]="comment" placeholder="Коментарий"
           name="menuTitle"/>
  </div>
  <div class="absolute-Center">
    <div>
      <button mat-raised-button color="primary" (click)="addNewRecord()">Добавить</button>
    </div>
    <div>
      <button mat-button color="primary" (click)="back()">Назад</button>
    </div>
  </div>
</div>
